<%# app/views/practicas/_practica.html.erb %>
<tr class="hover:bg-gray-50">
		<% unless @gallo %>
				<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
						<%= link_to practica.gallo.apodo.presence || "##{practica.gallo.banda_de_ala}",
						 gallo_path(practica.gallo),
						 class: "text-blue-600 hover:text-blue-900" %>
				</td>
		<% end %>
		
		<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
				<%= l practica.fecha, format: :long %>
		</td>
		
		<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
				<%= practica.duracion_formateada %>
		</td>
		
		<td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
				<%= render "practica_actions", practica: practica %>
		</td>
</tr>
